*{
    margin: 0 auto;
}
body{
    background-color: black;
}
h1,h2,h3,a,p{
    color: white;
}
h1,h2,h3{
    font-family: "Bebas Neue", serif;
    font-weight: 400px;
    font-style: normal;
}
p{
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
}
a{
    text-decoration: none;
}
header{
    display: flex;
    width: 1300px;
    height: 250px;
    background-image: url("imagens/header_Background.png");
}
.header_left{
    width: 240px;
    height: 100%;
    padding: auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.header_left img{
    width: 226px;
    height: 224px;
}
.header_right{
    width: 1060px;
    display: block;
}
.header_right_top{
    height: 125px;  
    border-left: 1px solid white;
    border-bottom: 1px solid white;
}
.header_right_top h1{
    font-family: "Bebas Neue", serif;
    font-weight: 400px;
    font-style: normal;
    padding: 30px;
    font-size: 44px;
}
.header_right_down{
    height: 125px;
    border-left: 1px solid white;
    display: flex;
    align-items: center;
}
.header_right_down a{
    flex: 1;
    text-align: center;
}  
.header_right_down a h1{
    font-family: "Bebas Neue", serif;
    font-weight: 400px;
    font-style: normal;
    font-size: 36px;
}
.header_right_down a:hover{
    text-decoration: underline;
}
.header_right_down h1:hover{
    color: rgb(63, 63, 63);
}
main{
    width: 1300px;
    background-image: url('imagens/main_Background_claro.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}
main h1{
    font-size: 96px;
    padding-left: 15px;
}
main p{
    font-size: 24px;
}
main h2{
    font-size: 48px;
}
main h3{
    font-size: 36px;
    padding-top: 50px;
}
.main_content{
    width: 1072px;
}
.main_content_box{
    padding-top: 100px;
    padding-bottom: 100px;
}
.main_content_box_strong{
    font-size: 32px;
    padding-bottom: 100px;
}
.main_content_img img{
    width: 500px;
    object-fit: cover;
}

.main_content_img{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.main_divided_content_img{
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
}
.main_divided_content_img img{
    width: 400px;
    object-fit: cover;
}

.main_line{
    width: 100%;
    height: 2px;
    background-color: white;
}
.main_divided{
    width: 100%;
    display: flex;
}
.main_divided_content h2{
    padding-top: 30px;
}
.main_divided_content{
    flex: 50%;
    padding-left: 50px;
    padding-right: 50px;
    border-right: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
}


.main_divided_content_big_img{
    width: 1072px;
}














footer{
    display: flex;
    align-items: center;
    width: 1300px;
}
.footer_content{
    flex:1;
}
.footer_content_top{
    display: flex;
}
.footer_content_top a{
    flex: 1;
}
.footer_content_top img{
    width: 50px;
}
iframe{
    padding-top: 50px;
}





@media screen and (max-width: 460px){
    
    .main_line,footer,header,.header_right,.main_content_img img{
        width: 100%;
    }
    .main_content{
        padding-top: 20px;
        width: 90%;
    }
    header,main,.main_content_img img{
        height: 100%;
    }
    .main_content_box{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    header{
        display: block;
    }
    .header_right h1{
        font-size: 20px;
    }
    .header_right_top{
        height:80px;
        border-top: 1px solid white;
    }
    main{
        width: 80%;
    }
    main h1{
        font-size: 24px;
        padding-left: 15px;
    }
    .main_content_box_strong{
        padding: 0;
    }
    main p,.main_content_box_strong{
        font-size: 16px;
    }
    main h3{
        padding-top: 20px;
    }
    main h2,.main_line h3{
        font-size: 18px;
    }
    .main_content_img{
        width: 90%;
    }
    footer{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    footer img{
        transform: scale(0.5);
    }
    footer h1{
        font-size: 20px;
    }
    .footer_content{
        flex: 25%;
    }
    iframe{
        width: 100%;
        padding-top: 20px;
        height: 100%;
    }
    .main_divided{
        width: 100%;
        display: block;
    }
    .main_divided_content{
        width: 90%;
    }
    .main_divided_content_img{
        width: 90%;
    }
    .main_divided_content_img img{
        width: 90%;
    }
    .main_divided_content{
        padding-left: 5px;
        padding-right: 5px;
    }
    .main_divided_content_big_img{
        width: 90%;
    }
    .main_divided_content_big_img img{
        width: 100%;
    }
}